.body {
  background: #111;
  color: white;
  padding: 20px;
}

#switch {
  display: none;
}

.switch-label {
  display: none;
  cursor: pointer;
  background: #fff;
  color: #111;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  box-shadow: 0 2px #666;
}
.switch-label::after {
  content: "on";
}
.switch-label::before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #003321;
  border: 1px solid #111;
}
.switch-label:active {
  box-shadow: none;
  transform: translate3d(0, 2px, 0);
}

#switch:checked + .switch-label::before {
  background: #22ff55;
}
#switch:checked + .switch-label::after {
  content: "off";
}

@keyframes flicker {
  0% {
    opacity: 0.8029453197;
  }
  5% {
    opacity: 0.9310193464;
  }
  10% {
    opacity: 0.0374351685;
  }
  15% {
    opacity: 0.0044074245;
  }
  20% {
    opacity: 0.6413755793;
  }
  25% {
    opacity: 0.5730279404;
  }
  30% {
    opacity: 0.0206755113;
  }
  35% {
    opacity: 0.3594197144;
  }
  40% {
    opacity: 0.687677427;
  }
  45% {
    opacity: 0.595533403;
  }
  50% {
    opacity: 0.2109582783;
  }
  55% {
    opacity: 0.135325265;
  }
  60% {
    opacity: 0.1011074898;
  }
  65% {
    opacity: 0.7839430219;
  }
  70% {
    opacity: 0.4247411203;
  }
  75% {
    opacity: 0.3541873426;
  }
  80% {
    opacity: 0.80025874;
  }
  85% {
    opacity: 0.2087527279;
  }
  90% {
    opacity: 0.1140128698;
  }
  95% {
    opacity: 0.8362294814;
  }
  100% {
    opacity: 0.5677768865;
  }
}
.screen-frame {
  background: #121010;
  width: 100%;
  height: 100%;
  /*position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 -410px;*/
  overflow: hidden;
  border: 2px solid #666;
}
.screen-frame::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.screen-frame::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#switch:checked ~ .screen-frame::after {
  animation: flicker 0.15s infinite;
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}
.screen {
  border: none;
  font-family: "Courier New";
}

#switch ~ .screen-frame > .screen {
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

#switch:checked ~ .screen-frame > .screen {
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
  color: #00FF00;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 60px;
  font-family: sans-serif;
  visibility: hidden;
  pointer-events: none;
}

#switch:checked ~ .screen-frame .overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.terminal-content {
  color: #ffffff;
  background: none;
  font-family: "Courier New";
}

/*# sourceMappingURL=style.css.map */
